pip
setuptools
wheel

fastapi
uvicorn
pydantic
pydantic-settings
email-validator
python-dotenv

requests
numpy

pymongo
motor

langchain==0.1.4
langchain-text-splitters

sentence-transformers==2.3.1
transformers
torch

faiss-cpu==1.13.2
pypdf
pdfplumber
pdf2image
pytesseract
PyMuPDF

sympy
tiktoken

google-generativeai

python-jose[cryptography]
passlib[bcrypt]




